# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/mage-ai.db
demo_error_read_write/data_setup/landing_zone/delta/
demo_error_read_write/data_setup/landing_zone/*.csv
/demo_error_read_write/mage-ai.db
/demo_error_read_write/pipelines/modern_load_new/.variables/4/
/demo_error_read_write/pipelines/modern_load_new/.variables/5/
/demo_error_read_write/pipelines/modern_load_new/.variables/6/
/demo_error_read_write/pipelines/modern_load_new/.variables/add_cut_off_date/
/demo_error_read_write/pipelines/modern_load_new/.variables/dim_customer_dbt/
/demo_error_read_write/pipelines/modern_load_new/.variables/load_raw_customers_pd_driven/
/demo_error_read_write/pipelines/modern_load_new/.variables/read_customer_file/
/demo_error_read_write/pipelines/modern_load_new/.variables/read_customer_file/output_0/
.logs
.variables/*
/demo_error_read_write/pipelines/traditional_load/.variables/1/
/demo_error_read_write/pipelines/traditional_load/.variables/3/
/demo_error_read_write/pipelines/traditional_load/.variables/add_cut_off_date/
/demo_error_read_write/pipelines/traditional_load/.variables/read_customer_file/
/demo_error_read_write/pipelines/traditional_load/.variables/table_for_add_cut_off_date_1668619429720/
/demo_error_read_write/pipelines/traditional_load/.variables/write_dim_customer/
/demo_error_read_write/pipelines/traditional_load/.variables/write_raw_customer/
/demo_error_read_write/pipelines/showcase_managed_flow/.variables/
/demo_error_read_write/pipelines/showcase_managed_corrupted/.variables/
/demo_error_read_write/pipelines/showcase_managed2/.variables/
/demo_error_read_write/pipelines/generate_fake_ok_data/.variables/
/demo_error_read_write/pipelines/generate_fake_nok_data/.variables/
/demo_error_read_write/pipelines/traditional_load/.variables/1/
/demo_error_read_write/pipelines/traditional_load/.variables/3/
/demo_error_read_write/pipelines/traditional_load/.variables/add_cut_off_date/

